@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
* {
   font-family: 'Raleway', sans-serif;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body, html {
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}


/* NAVEGADOR */

.navbar {
    padding: 0.6rem 0 0.3rem;
    position: fixed;
    left: 0;
    right: 0;
    transition: 0.8s;
}

.navbar ul.navbar-nav {
    display: flex;
    justify-content: space-evenly;
}

.navbar ul.navbar-nav a {
    display: inline-block;
    padding: 0.5rem 1rem;
    border-bottom: 2px solid transparent;
    color: #000;
    transition: all 0.5s;
}

.navbar ul.navbar-nav a:hover {
    color: #FBF4E9;
    border-bottom: 2px solid #FBF4E9;
}

.navbar .navbar-icon {
    text-align: end;
}

.navbar .navbar-icon img {
    margin: 0 1rem;
    height: 50px;
    border-radius: 100%;
    background-color: #FBF4E9;
}


/* HOME */

#home {
    position: relative;
}

.background-image {
    height: 100vh;
    background-image: url('../assets/img4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    filter: brightness(0.8);
    z-index: -1;
}

.content-home {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #FBF4E9;
}

.content-home h2 {
    font-family: 'Dancing Script', cursive;
    font-size: 5rem;
    margin-bottom: 1rem;
}

.content-home h3 {
    font-size: 2rem;
    font-weight: 500;
    margin-top: 1rem;
}

.flex-container {
    display: flex;
    align-items: center;
    z-index: 1;
}

header .flex-item, main .flex-item {
    width: 50%;
}


/* SECCIONES */

.container {
    padding: 0 2rem;
}

section.flex-container {
    height: 90vh;
    border-bottom: 1px solid #aaa;
}

section.flex-container .flex-item {
    padding: 0 2rem;
}

section h3.title-section {
    margin-bottom: 1rem;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 4px;
    word-spacing: 6px;
    color: #EC9CD3;
}

section p {
    font-size: 1.2rem;
    line-height: 1.6;
}

.border {
    border: 10px solid #efefef;
    border-radius: 4px;
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.6);
}


/* EVENTO */



/* ORGANIZADORES */

#organizers span {
    color: #6ECB63;
    font-weight: 500;
}

.flex-item.images .image-stack {
    width: 500px;
    margin: auto;
    position: relative;
    z-index: -1;
}

.image-stack .img-back {
    width: 100%;
}

.image-stack .image-stack__item {
    width: 200px;
    position: absolute;
}

.image-stack .image-stack__item.img-top {
    top: -30px;
    right: -50px;
}

.image-stack .image-stack__item.img-bottom {
    bottom: -30px;
    left: -50px;
}


/* CONTACTO */

.contact-form form {
    width: 100%;
    max-width: 500px;
    margin: auto;
}

.contact-form h3 {
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    font-weight: 600;
    color: #aaa;
}

.form-group {
    margin-bottom: 1rem;
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 0.2rem;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    background-color: #efefef;
}

.form-control:focus {
    outline: none;
    background-color: #dfdfdf;
}

.form-group span {
    color: #f53e3e;
}

.opacity-0 {
    opacity: 0;
}

.opacity-1 {
    opacity: 1;
}

.invalid {
    border: 1px solid #f53e3e;
}

.contact-form .btn {
    padding: 0.5rem 2rem;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FBF4E9;
    background-color: #1b1b1b;
    cursor: pointer;
    transition: all 0.5s;
}

.contact-form .btn:hover {
    color: #000;
    background-color: #6ECB63;
}


/* CLIMA */

#weather {
    padding: 6rem;
    text-align: center;
    border-bottom: 1px solid #aaa;
}


/* FOOTER */

footer {
    padding: 4rem 0;
}

footer .flex-container {
    align-items: flex-start;
    justify-content: space-around;
    margin-bottom: 4rem;
}

footer .flex-container h4 {
    font-size: 1.3rem;
    margin-bottom: 1rem;
}

.image {
    justify-self: start;
}

footer .image img {
    height: 80px;
}

.social-networks li {
    display: inline-block;
    margin-right: 1rem;
    font-size: 2rem;
}

.social-networks li a {
    display: block;
}

.whatsapp span {
    font-size: 1.3rem;
    vertical-align: text-bottom;
}

.whatsapp i {
    font-size: 2rem;
    margin-right: 0.5rem;
}

footer a {
    color: #aaa;
    transition: color 0.5s;
}

footer a:hover {
    color: #6ECB63;
}

footer p {
    text-align: center;
    font-size: 1.2rem;
}